.card {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    width: 300px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 7px 30px;
    font-size: 18px;
    position: relative;
    row-gap: 10px;
    overflow-wrap: break-word;


    &__show {
        position: absolute;
        bottom: 0;
        left: 3px;
        border: 0;
        border-radius: 10px;
        padding: 4px;
        text-decoration: underline;
    }

    &__show:hover {
        background-color: #a3b9d33d;
    }

    &__edit {
        position: absolute;
        bottom: 0;
        right: 5px;
        border: 0;
        border-radius: 10px;
        padding: 4px;
        text-decoration: underline;
    }

    &__edit:hover {
        background-color: #a3b9d33d;

    }
}

.more {
    display: flex;
    flex-direction: column;

    display: none;
}

.visible {
    display: flex;
    row-gap: 10px;
}

.modal-close {
    cursor: pointer;
}