.create-card__form {
    width: 350px;
    background-color: rgb(130, 185, 239);
    position: fixed;
    padding: 30px 17px;
    font-size: 24px;
    border: 0;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}



.form-content__choose {
    width: 100%;
}

.create-card__form input {
    border: solid;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
}


.cardiologist-asks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    width: 100%;
}

.dantist-asks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dantist-asks label {
    font-size: 22px;
}

.display-none {
    display: none;
}