@import 'null';
@import 'register-modal';
@import 'create-card';
@import 'card';
@import 'modal';

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	background-color: #000;
	opacity: 0.5;
}

.display-show {
	display: block;
}

.display-none {
	display: none;
}

.modal_additional-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 7px;
}

.wrapper {
	padding: 15px 35px;
	height: 100%;
}

.header {
	background-color: #bdd5f13d;
}

.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 15px;

	&__logo {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		transform: translateY(20%);
		font-size: 44px;
		text-transform: uppercase;
		font-weight: 900;
	}

	&__logo-img {
		width: 100px;
		height: 100px;
	}

	&__button {
		color: #000;
		text-transform: uppercase;
		padding: 20px;
		border: 4px solid #000;
		border-radius: 6px;
		transition: all 0.3s ease 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	&__button:hover {
		color: #494949;
		border-radius: 50px;
		border-color: #494949;
		transition: all 0.6s ease 0s;
	}
}

.header-content::after {
	content: '';
	width: 100%;
	background-color: #000;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.main {
	height: 100%;
	background-color: #bdd5f13d;

}

.main-content {
	text-align: center;

	&__container {
		margin-top: 25px;
		margin-bottom: 25px;
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		padding: 0 100px;
	}

}

.form-content {
	&__text {
		text-align: center;
		font-size: 20px;
	}

	&__choose {
		border: solid;
		font-size: 20px;
		border-radius: 10px;
	}

	&__choose-search {
		width: 400px;
	}
}

.main-content {
	&__submit {
		color: #000;
		text-transform: uppercase;
		padding: 15px;
		border: 4px solid #000;
		border-radius: 10px;
		transition: all 0.3s ease 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	&__submit:hover {
		color: #494949;
		border-radius: 50px;
		border-color: #494949;
		transition: all 0.6s ease 0s;
	}
}

.main-cards {
	margin-top: 15px;
	min-height: 300px;
	padding: 15px 70px;
	background-color: #a3b9d33d;
	align-items: flex-start;
	justify-content: left;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	column-gap: 10px;
	row-gap: 10px;

	&__text {
		text-align: center;
		padding-top: 100px;
		position: absolute;
		left: 50%;
		top: 26%;
		transform: translate(-50%, -50%);
	}
}