.modal {
	background-color: rgb(130, 185, 239);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	width: 400px;
	border: 1px solid;
	border-radius: 10px;
	padding: 24px 10px 30px;
	font-size: 18px;
	position: relative;
	row-gap: 10px;
	z-index: 2;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
}

.modal-input,
.modal-select {
	border: solid;
	font-size: 20px;
	border-radius: 10px;
	width: 100%;
}

.modal-close {
	position: absolute;
	right: 10px;
	top: 2px;
}

.modal-button {
	border: solid;
	margin-top: 10px;
	width: 100px;
	text-align: center;
	align-self: center;
	border-radius: 10px;
	background-color: #f1f1f1;
}