.main-modal__register {
    background-color: rgb(130, 185, 239);
    position: fixed;
    padding: 10px;
    font-size: 24px;
    border: 0;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;

}

.register {
    display: flex;
    flex-direction: column;
    width: 350px;

    &__text {
        font-size: 50px;
    }

    &__input {
        display: block;
        font-size: 22px;

    }

    &__cancel-btn {
        position: absolute;
        top: 1px;
        right: 8px;
    }

    &__submit-btn {
        border: solid;
        margin-top: 10px;
        width: 100px;
        text-align: center;
        align-self: center;
        border-radius: 10px;
    }

    &__submit-btn:hover {
        background-color: rgb(58, 133, 207);

    }
}